*{
   box-sizing: border-box;
}
body {
   font-family: "Roboto", "Arial", sans-serif;
   color: $main-color;
}

//контейнер увеличин на ширину падингов для моб. версии 
.container {
   max-width: 1226px;
   padding: 0 28px;
   margin: 0 auto;
   position: relative;
}

